body {
  font-family: "Maven Pro", sans-serif;
  background-color: #2a2a2a;
  overflow: hidden;
}

/* -------- Header -------- */

/* -------- volver -------- */

.volver a {
  font-size: 1.2rem; 
  position: fixed;
  top: 2.5rem; 
  left: 2.5rem; 
  color: #b6b2b2;
  text-decoration: none;
  z-index: 2;
  transition: color 0.5s ease, transform 0.3s ease;
}
.volver a:hover {
  transform: scale(1.1);
  color: white;
}

.selector-temporada {
  position: fixed;
  top: 3rem; 
  right: 2.5rem; 
  z-index: 10;
  font-size: 1rem;
  color: #b6b2b2;
  
}

.selector-temporada select {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.2rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  border: none;
  background-color: #474747;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.selector-temporada select:hover {
  background-color: #6b6b6b;
}

/* -------- General Tabla -------- */

.standings-section {
  width: 50rem; 
  height: 51rem; 
  margin: 2rem auto 0; 
  padding: 0.8rem; 
  background-color: #262626;
  border-radius: 0.5rem; 
  color: #e0e0e0;
}

.standings-section h2 {
  text-align: center;
  margin-bottom: 0.75rem; 
  font-size: 1.7rem; 
  color: white;
}

/* -------- Contenedor Tabla -------- */

.table-container {
  overflow-x: auto;
  background-color: #1e1e1e;
}

/* -------- Tabla Clasificacion -------- */

.standings-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 1rem; 
  background-color: #262626;
}

.standings-table th,
.standings-table td {
  padding: 1rem; 
}

/* -------- Ultimos Resultados -------- */

.res {
  display: inline-block;
  width: 1.5rem; 
  margin: 0.06rem; 
  border-radius: 15%;
  text-align: center;
  line-height: 1.1rem; 
  font-size: 0.6rem; 
  font-weight: bold;
  color: white;
}

.res-win  { background-color: rgb(29, 192, 29); }
.res-draw { background-color: #FACE30; }
.res-loss { background-color: rgb(253, 22, 22); }

/* -------- Filas Destacadas -------- */

td.campeon {
  background-color: rgb(176, 156, 42);
  font-weight: bold;
}

td.ascenso {
  background-color: #0a80b7dc;
  font-weight: bold;
}

/* -------- Fila TxT Animacion -------- */

tr.txt {
  background: linear-gradient(135deg, #0eff06c6, #545454);
  font-weight: bold;
  animation: aparecerColor 2s ease forwards;
}

@keyframes aparecerColor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
