body {
  font-family: "Maven Pro", sans-serif;
  background-color: #2a2a2a;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.volver a {
    font-family: "Maven Pro", sans-serif;
    font-size: 2rem;
    position: fixed;
    top: 40px;
    left: 40px;
    color: #b6b2b2;
    text-decoration: none; 
    transition: color 0.5s ease; 
    transition: transform 0.3s ease; 
    z-index: 2
}
.volver a:hover {
    transform: scale(1.1); 
    color:white ;
}

.plantilla {
  max-width: 600px;
  margin-left: 250px;
  margin-top: -30px;

}

h1 {
  text-align: center;
  margin-top: 4rem;
  font-size: 2rem;
  margin-bottom: -1rem;
}
h3 {
  text-align: left;
}

.categoria {
  margin-bottom: 2rem;
}

.jugadores {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 1.5rem;
}

.jugador {
  background: linear-gradient(135deg, #0eff06c6 ,#7b7b7b);  
  border-radius: 0.5rem;
  padding: 1rem;
  width: 120px;
  height: 60px;
  text-align: center;
  transition: transform 0.3s;
  box-shadow: 4px 4px  rgb(255, 255, 255);
  cursor: pointer;
}

.jugador:hover {
  transform: scale(1.05);
}

.dorsal {
  margin: 0.5rem ;
  font-size: 1.5rem;
  font-weight: bold;
}

.nombre {
  margin: 0;
  font-size: 1.1rem;
  font-weight: bold;

}
.panel-estadisticas {
  position: fixed;
  top: 20rem;
  left: 70rem;
  padding: 2rem;
  width: 500px;
  display: none;
  animation: aparecerPanel 1s ease forwards;

}
.numero{
  font-size: 4rem;
  
}
.name{
  font-size: 2rem;
  margin-left: 1rem;
}
.panel-estadisticas.abierto {
  display: block;
}
.panel-estadisticas .cerrar {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 1.8rem;
  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;
  
}

.panel-estadisticas .cerrar:hover {
  color: #fff;
}

.estadisticas-caja {
  display: flex;
  justify-content: space-between;
  background: #f2f2f2;
  color: #121212;
  padding: 1rem 1.5rem;
  border-radius: 16px;
  margin-bottom: 1rem;
}

@keyframes aparecerPanel {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      
    }
  }


@keyframes fadeInArriba {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.categoria {
  opacity: 0;
  animation: fadeInArriba 0.8s ease forwards;
}

.categoria:nth-of-type(1) {
  animation-delay: 0.2s;
}
.categoria:nth-of-type(2) {
  animation-delay: 0.6s;
}
.categoria:nth-of-type(3) {
  animation-delay: 1.2s;
}
.categoria:nth-of-type(4) {
  animation-delay: 1.8s;
}


