body {
  font-family: "Maven Pro", sans-serif;
  background-color: #2a2a2a;
  margin: 0;
    padding: 0;

}

/* -------- volver -------- */

.volver a {
  font-size: 1.2rem;
  position: fixed;
  top: 2.5rem;      
  left: 2.5rem;    
  color: #b6b2b2;
  text-decoration: none;
  transition: color 0.5s ease;
  transition: transform 0.3s ease;
  z-index: 2;
}

.volver a:hover {
  transform: scale(1.1);
  color: white;
}

.selector-temporada {
  position: fixed;
  top: 3rem; 
  right: 2.5rem; 
  z-index: 10;
  font-size: 1rem;
  color: #b6b2b2;
  
}

.selector-temporada select {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.2rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  border: none;
  background-color: #474747;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.selector-temporada select:hover {
  background-color: #6b6b6b;
}


h1 {
  text-align: center;
  margin-top: 8rem;
  font-size: 2rem;
  color: #ffffff;
}

#torneos {
  padding: 2rem;
  text-align: center;
  background: #121212;
  color: white;
}

.contenedor-torneos {
  position: relative;
  height: 18.75rem;        
  display: flex;
  justify-content: center;
  align-items: center;
}

.torneo {
  background: transparent;
  color: white;
  padding: 2rem;
  border: 0.125rem solid white; 
  border-radius: 0.2rem;
  cursor: pointer;
  width: 13.75rem;         
  height: 1.25rem;         
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  position: absolute;
  margin-top: 20rem;
}       

.torneo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #28a745; 
  transition: width 0.8s ease;
  z-index: -1;
}

.torneo:hover::before {
  width: 100%;
}

.torneo.izquierda {
  left: 20%;
  animation: slideLeft 1s ease forwards;
}

.torneo.derecha {
  right: 20%;
  animation: slideRight 1s ease forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
